.button button,
a {
    margin-top: 10px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    color: black;

}

body {
    font-family: Calibri, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    /* 2 colunas de 400px */
    gap: 5px;
    /* reduzido para deixar os vídeos bem próximos */
    justify-content: center;
    /* centraliza o grid na página */
    margin-top: 30px;
}

.video-grid iframe {
    width: 400px;
    height: 225px;
    border: none;
}